
.bottom_container {
    flex-grow: 1; /* This will make it take up the remaining space */
    overflow: auto; /* Makes the content scrollable if it overflows */
    background: rgb(30, 50, 67);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.task_list_container{

  background-color: rgb(20, 36, 50);
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  box-shadow: 0px 4px 8px rgba(68, 69, 70, 0.2); /* Subtle shadow for depth */

}
.task_list {
    border: 2px solid transparent; /* Example border color */
    border-bottom:1px solid rgb(235, 216, 202);
    width: 80%; /* Adjust as needed */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0%;
  }
  .task_list_container:last-child .task_list {
    border-bottom: none; /* Removes the border-bottom for the last .task_list child */
}
  
  

.task {
    margin: 0; /* Removes default margins from h1 elements */
    padding: 4px; /* Add padding as needed */
    color: rgb(235, 216, 202);
}
.button_container {
    display: flex; /* Aligns buttons in a row */
    justify-content: flex-end; /* Aligns button container to the right */
    width: 200px; /* Ensures the container takes up full width of the parent */
    background-color: transparent;
    border: none;

}

.edit_button, .delete_button {
    margin-left: 10px; /* Adds spacing between the buttons if needed */
}
.edit_button {
    background-color: #306617; /* Vibrant red background */
  }

  .edit_button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  }

  .edit_button:active {
    transform: translateY(2px); /* Press effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Less shadow when pressed */
  }

.delete_button,.edit_button {
    border: none; /* Remove default border */
    padding: 10px 20px; /* Top and bottom padding, left and right padding */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Change mouse cursor to pointer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for press effect */

  }
  .delete_button{
    background-color: #a5033e; /* Vibrant red background */
  }

  .delete_button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  }

  .delete_button:active {
    transform: translateY(2px); /* Press effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Less shadow when pressed */
  }
  p {
    color: antiquewhite;
    font-weight: 600;
  }